<div class="container">
    <div class="card text-center mt-3">
        <div class="card-header bg-primary">
            Profile
        </div>
        <div class="card-body">
            <div class="row container">
                <div class="col-3">
                    <img src="https://lh3.googleusercontent.com/-RskItJlRKJ0/TYCw3SXF4NI/AAAAAAAAAA8/u66B_UMX8l0/s1600/rihannagoodgirlgonebadvis2.jpg" alt="..." class="img-fluid">

                </div>
                <div class="col-9">
                    <h2 >Rihanna</h2>
                    <div class="row">
                        <div class="col text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et illo nihil culpa odio impedit. Dolore quod voluptatem non atque quibusdam, libero error aspernatur quasi dolores! Dolorem earum voluptatibus impedit consequatur. </div>
                        <div class="col text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus ad mollitia non quae, nemo incidunt dolores accusantium harum, id tempore quo veniam aspernatur cum praesentium repellat, laudantium debitis itaque quas. </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>